@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

/* ----- header ---------------------------------------------------------*/
#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3; }
  #header.on {
    background: #fff; }
  #header .inner {
    width: 1180px;
    height: 60px;
    margin: 0 auto;
    position: relative; }
    #header .inner > h1 {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 10px 0; }
      #header .inner > h1 > a {
        font: bold 20px/1 'lora';
        color: #262223; }
    #header .inner .menuWeb #gnb {
      position: absolute;
      bottom: 0;
      right: 200px; }
      #header .inner .menuWeb #gnb > li {
        float: left; }
        #header .inner .menuWeb #gnb > li > a {
          display: inline-block;
          padding: 10px 20px;
          font: 14px/1 'lora';
          color: #262223; }
          #header .inner .menuWeb #gnb > li > a:hover {
            border-bottom: 3px solid #FFB799;
            color: #CCD1B6; }
        #header .inner .menuWeb #gnb > li .sub {
          display: none;
          width: 1180px;
          height: 180px;
          background: #fff;
          position: absolute;
          top: 40px;
          right: -200px; }
          #header .inner .menuWeb #gnb > li .sub ul {
            position: relative;
            z-index: 3; }
            #header .inner .menuWeb #gnb > li .sub ul:nth-of-type(1) {
              position: absolute;
              top: 0;
              left: 450px; }
            #header .inner .menuWeb #gnb > li .sub ul:nth-of-type(2) {
              position: absolute;
              top: 0;
              left: 550px; }
            #header .inner .menuWeb #gnb > li .sub ul li {
              width: 100px;
              height: 40px;
              background: #fff;
              text-align: center; }
              #header .inner .menuWeb #gnb > li .sub ul li a {
                color: #262223;
                font: normal 14px/40px 'lora';
                text-align: center; }
          #header .inner .menuWeb #gnb > li .sub::before {
            content: "";
            display: block;
            width: 100vw;
            height: 180px;
            background: #fff;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 3; }
    #header .inner .menuWeb .util {
      position: absolute;
      bottom: 0;
      right: 0px; }
      #header .inner .menuWeb .util > li {
        float: left; }
        #header .inner .menuWeb .util > li > a {
          display: inline-block;
          padding: 10px;
          font: 14px/1 'lora';
          color: #262223; }
          #header .inner .menuWeb .util > li > a:hover {
            background: #FFB799;
            color: #F2EDD7; }
    #header .inner .btnCall {
      display: none;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      right: 30px;
      transform: translateY(-50%); }
      #header .inner .btnCall::before {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #262223;
        position: absolute;
        top: 0;
        left: 0;
        transition: top 0.5s 0s , transform 0.5s 0.5s; }
      #header .inner .btnCall::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #262223;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: top 0.5s 0s , transform 0.5s 0.5s; }
      #header .inner .btnCall span {
        display: block;
        width: 100%;
        height: 2px;
        background: #262223;
        position: absolute;
        top: 50%;
        margin-top: -1px;
        left: 0;
        transform: translateY(-50%);
        text-indent: -9999px; }
      #header .inner .btnCall.on::before {
        top: 50%;
        margin-top: -1px;
        transform: rotate(45deg); }
      #header .inner .btnCall.on::after {
        bottom: 50%;
        margin-bottom: -1px;
        transform: rotate(-45deg); }
      #header .inner .btnCall.on span {
        transform: translateX(100%);
        opacity: 0; }
    #header .inner .menuMo {
      display: none; }

/* ----- visual ---------------------------------------------------------*/
#visual {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden; }
  #visual img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  #visual .inner {
    width: 1180px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    #visual .inner h1 {
      font: 65px/1.2 'lora';
      color: #262223;
      margin-bottom: 30px; }
    #visual .inner a {
      display: block;
      width: 150px;
      height: 40px;
      font: 18px/40px 'lora';
      border: 1px solid #262223;
      text-align: center;
      color: #262223; }

/*----- bestSellers --------------------------------------------------- */
#bestSellers {
  width: 100%;
  padding: 180px 0;
  background: #F2EDD7; }
  #bestSellers .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative;
    overflow: hidden; }
    #bestSellers .inner .txt {
      width: 230px;
      padding: 50px 0; }
      #bestSellers .inner .txt h1 {
        font: normal 36px/1 'lora';
        margin-bottom: 10px;
        letter-spacing: 2px; }
      #bestSellers .inner .txt p {
        font: normal 12px/1.2 'lora';
        letter-spacing: 2px;
        margin-bottom: 30px; }
      #bestSellers .inner .txt a {
        display: block;
        width: 120px;
        height: 40px;
        font: 16px/40px 'lora';
        border: 1px solid #262223;
        text-align: center;
        color: #262223; }
    #bestSellers .inner .con {
      position: absolute;
      top: 0;
      right: -400px; }
      #bestSellers .inner .con .wrap {
        display: flex; }
        #bestSellers .inner .con .wrap article {
          width: 380px;
          height: 300px;
          margin-right: 20px; }
          #bestSellers .inner .con .wrap article:last-child {
            margin-right: 0; }
          #bestSellers .inner .con .wrap article .pic {
            width: 100%;
            height: 100%;
            background: #CCD1B6; }

/*----- learnMore --------------------------------------------------------*/
#banner {
  width: 100%;
  padding: 120px 0;
  background: url(../img/banner6.jpg) no-repeat center/cover fixed; }
  #banner .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative;
    text-align: right; }
    #banner .inner h1 {
      font: normal 36px/1 'lora';
      margin-bottom: 20px;
      letter-spacing: 2px; }
    #banner .inner p {
      font: normal 12px/1.2 'lora';
      letter-spacing: 2px;
      margin-bottom: 30px; }
    #banner .inner a {
      display: inline-block;
      width: 120px;
      height: 40px;
      font: 16px/40px 'lora';
      border: 1px solid #262223;
      text-align: center;
      color: #262223; }

/*----- brand -- individual slection -------------------------------------*/
#brand {
  width: 100%;
  background: #F2EDD7;
  padding: 180px 0; }
  #brand .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative; }
    #brand .inner .brandTxt {
      width: 680px;
      height: 480px;
      background: #CCD1B6;
      padding: 100px 250px 0 50px; }
      #brand .inner .brandTxt h1 {
        font: normal 36px/1 'lora';
        margin-bottom: 20px;
        letter-spacing: 2px; }
      #brand .inner .brandTxt p {
        font: normal 12px/1.2 'lora';
        letter-spacing: 2px;
        margin-bottom: 30px; }
      #brand .inner .brandTxt a {
        display: inline-block;
        width: 120px;
        height: 40px;
        font: 16px/40px 'lora';
        border: 1px solid #262223;
        text-align: center;
        color: #262223; }
    #brand .inner .brandPic {
      width: 680px;
      height: 400px;
      background: #FFB799;
      position: absolute;
      top: 8%;
      right: 0; }
      #brand .inner .brandPic img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden; }

/*----- story -------------------------------------------------------------*/
#story {
  width: 100%;
  padding: 120px 0px;
  background: url(../img/banner4.jpg) no-repeat center/cover; }
  #story .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative; }
    #story .inner p {
      width: 100%;
      font: normal 36px/1.2 'lora';
      letter-spacing: 2px;
      margin-bottom: 30px;
      text-align: center; }
    #story .inner a {
      display: block;
      margin: 0 auto;
      width: 120px;
      height: 40px;
      font: 16px/40px 'lora';
      border: 1px solid #262223;
      text-align: center;
      color: #262223; }

/*-----  instagram ------------------------------------------------------  */
#instagram {
  width: 100%;
  padding: 120px 0px;
  background: #fff; }
  #instagram .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative; }
    #instagram .inner h1 {
      font: normal 36px/1.2 'lora';
      margin-bottom: 30px;
      text-align: center; }
    #instagram .inner .wrap {
      width: 100%;
      margin: 0 auto; }
      #instagram .inner .wrap::after {
        content: "";
        display: block;
        clear: both; }
      #instagram .inner .wrap article {
        width: 230px;
        height: 230px;
        float: left; }
        #instagram .inner .wrap article .instaPic {
          width: 100%;
          height: 100%;
          background: #CCD1B6; }
          #instagram .inner .wrap article .instaPic img {
            width: 100%;
            height: 100%; }

/*----- footer ------------------------------------------------------------ */
#footer {
  width: 100%;
  padding: 80px 0;
  background: #CCD1B6; }
  #footer .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative; }
    #footer .inner::after {
      content: "";
      display: block;
      clear: both; }
    #footer .inner h1 {
      float: left;
      font: 30px /1 'lora';
      color: #262223; }
    #footer .inner .policy {
      float: right; }
      #footer .inner .policy li {
        float: left;
        margin-left: 20px; }
        #footer .inner .policy li a {
          font: normal 14px/1 'lora';
          color: #262223;
          opacity: 0.7; }
    #footer .inner address {
      float: left;
      width: 100%;
      font: 14px/1.3 'lora';
      color: #262223;
      opacity: 0.7;
      margin: 20px 0;
      border-top: 1px solid #262223;
      padding-top: 20px; }
    #footer .inner p {
      float: left;
      width: 100%;
      font: 12px/1 'lora';
      color: #262223;
      opacity: 0.7; }
    #footer .inner .sns {
      float: left;
      margin-top: 20px; }
      #footer .inner .sns li {
        float: left;
        margin-right: 10px; }
        #footer .inner .sns li a {
          color: #262223;
          opacity: 0.7; }

/*# sourceMappingURL=style.css.map */
