@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

/* ----- header ---------------------------------------------------------*/
#header_sub {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3; }
  #header_sub.on {
    background: #fff; }
  #header_sub .inner {
    width: 1180px;
    height: 60px;
    margin: 0 auto;
    position: relative; }
    #header_sub .inner > h1 {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 10px 0; }
      #header_sub .inner > h1 > a {
        font: bold 20px/1 'lora';
        color: #262223; }
    #header_sub .inner .menuWeb #gnb {
      position: absolute;
      bottom: 0;
      right: 200px; }
      #header_sub .inner .menuWeb #gnb > li {
        float: left; }
        #header_sub .inner .menuWeb #gnb > li > a {
          display: inline-block;
          padding: 10px 20px;
          font: 14px/1 'lora';
          color: #262223; }
          #header_sub .inner .menuWeb #gnb > li > a:hover {
            border-bottom: 3px solid #FFB799;
            color: #999e85; }
        #header_sub .inner .menuWeb #gnb > li .sub {
          display: none;
          width: 1180px;
          height: 180px;
          background: #fff;
          position: absolute;
          top: 40px;
          right: -200px; }
          #header_sub .inner .menuWeb #gnb > li .sub ul {
            position: relative;
            z-index: 3; }
            #header_sub .inner .menuWeb #gnb > li .sub ul:nth-of-type(1) {
              position: absolute;
              top: 0;
              left: 450px; }
            #header_sub .inner .menuWeb #gnb > li .sub ul:nth-of-type(2) {
              position: absolute;
              top: 0;
              left: 550px; }
            #header_sub .inner .menuWeb #gnb > li .sub ul li {
              width: 100px;
              height: 40px;
              background: #fff;
              text-align: center; }
              #header_sub .inner .menuWeb #gnb > li .sub ul li a {
                color: #262223;
                font: normal 14px/40px 'lora';
                text-align: center; }
          #header_sub .inner .menuWeb #gnb > li .sub::before {
            content: "";
            display: block;
            width: 100vw;
            height: 180px;
            background: #fff;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 3; }
    #header_sub .inner .menuWeb .util {
      position: absolute;
      bottom: 0;
      right: 0px; }
      #header_sub .inner .menuWeb .util > li {
        float: left; }
        #header_sub .inner .menuWeb .util > li > a {
          display: inline-block;
          padding: 10px;
          font: 14px/1 'lora';
          color: #262223; }
          #header_sub .inner .menuWeb .util > li > a:hover {
            background: #FFB799;
            color: #F2EDD7; }
    #header_sub .inner .btnCall {
      display: none;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      right: 30px;
      transform: translateY(-50%);
      z-index: 11; }
      #header_sub .inner .btnCall::before {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #262223;
        position: absolute;
        top: 0;
        left: 0;
        transition: top 0.5s 0s , transform 0.5s 0.5s; }
      #header_sub .inner .btnCall::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #262223;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: top 0.5s 0s , transform 0.5s 0.5s; }
      #header_sub .inner .btnCall span {
        display: block;
        width: 100%;
        height: 2px;
        background: #262223;
        position: absolute;
        top: 50%;
        margin-top: -1px;
        left: 0;
        transform: translateY(-50%);
        text-indent: -9999px; }
      #header_sub .inner .btnCall.on::before {
        top: 50%;
        margin-top: -1px;
        transform: rotate(45deg); }
      #header_sub .inner .btnCall.on::after {
        bottom: 50%;
        margin-bottom: -1px;
        transform: rotate(-45deg); }
      #header_sub .inner .btnCall.on span {
        transform: translateX(100%);
        opacity: 0; }
    #header_sub .inner .bgMo {
      display: none; }
      #header_sub .inner .bgMo.on {
        display: block;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 0;
        left: 0; }
    #header_sub .inner .menuMo {
      position: fixed;
      top: 0;
      right: -270px;
      z-index: 10;
      width: 270px;
      height: 100vh;
      background: #999e85;
      padding: 20px 30px;
      transition: 0.5s; }
      #header_sub .inner .menuMo h1 {
        padding-bottom: 30px;
        border-bottom: 1px solid #fff; }
        #header_sub .inner .menuMo h1 a {
          display: block;
          font: normal 20px/1.2 'lora';
          color: #262223;
          text-align: center; }
      #header_sub .inner .menuMo.on {
        right: 0px; }
      #header_sub .inner .menuMo #gnbMo > li {
        position: relative; }
        #header_sub .inner .menuMo #gnbMo > li > a {
          display: inline-block;
          padding: 10px 0px 10px 20px;
          font: normal 16px/1 'lora';
          color: #262223; }
          #header_sub .inner .menuMo #gnbMo > li > a strong {
            font: normal 16px/1 'lora';
            position: absolute;
            top: 10px;
            right: 10px; }
            #header_sub .inner .menuMo #gnbMo > li > a strong i {
              transition: 1s; }
        #header_sub .inner .menuMo #gnbMo > li div {
          display: block;
          transition: 1s; }
          #header_sub .inner .menuMo #gnbMo > li div ul li {
            padding: 0 40px;
            margin-bottom: 10px; }
            #header_sub .inner .menuMo #gnbMo > li div ul li a {
              font: 14px/1 'lora';
              color: #262223; }
        #header_sub .inner .menuMo #gnbMo > li.on strong i {
          transform: rotate(-180deg); }

/* ----- secetion ----------------------------------------------------*/
.content {
  width: 100%;
  padding: 0 0 150px; }
  .content .sub_visual {
    width: 100%;
    height: 100vh;
    position: relative;
    margin-bottom: 100px; }
    .content .sub_visual .subPic {
      width: 100%;
      height: 430px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: #bbb; }
    .content .sub_visual h1 {
      font: bold 90px/1 'lora';
      color: #262223;
      margin-bottom: 60px;
      position: absolute;
      top: 36%;
      left: 5vw;
      z-index: 1; }
    .content .sub_visual p {
      font: bold 30px/1.4 'lora';
      color: #262223;
      position: absolute;
      top: 50%;
      left: 5vw; }
  .content .inner {
    width: 1180px;
    margin: 0 auto;
    min-height: 500px; }

/*----- footer ------------------------------------------------------- */
#footer_sub {
  width: 100%;
  padding: 80px 0;
  background: #999e85; }
  #footer_sub .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative; }
    #footer_sub .inner::after {
      content: "";
      display: block;
      clear: both; }
    #footer_sub .inner h1 {
      float: left;
      font: 30px /1 'lora';
      color: #262223; }
    #footer_sub .inner .policy {
      float: right; }
      #footer_sub .inner .policy li {
        float: left;
        margin-left: 20px; }
        #footer_sub .inner .policy li a {
          font: normal 14px/1 'lora';
          color: #262223;
          opacity: 0.7; }
    #footer_sub .inner address {
      float: left;
      width: 100%;
      font: 14px/1.3 'lora';
      color: #262223;
      opacity: 0.7;
      margin: 20px 0;
      border-top: 1px solid #262223;
      padding-top: 20px; }
    #footer_sub .inner p {
      float: left;
      width: 100%;
      font: 12px/1 'lora';
      color: #262223;
      opacity: 0.7; }
    #footer_sub .inner .sns {
      float: left;
      margin-top: 20px; }
      #footer_sub .inner .sns li {
        float: left;
        margin-right: 10px; }
        #footer_sub .inner .sns li a {
          color: #262223;
          opacity: 0.7; }

@media screen and (max-width: 1179px) {
  /* header*/
  #header_sub .inner {
    width: 100%;
    height: 80px; }
    #header_sub .inner > h1 {
      left: 20px; }
    #header_sub .inner .menuWeb {
      display: none; }
    #header_sub .inner .btnCall {
      display: block; }

  /* secetion */
  .content {
    padding: 0 0 100px; }
    .content .sub_visual {
      margin-bottom: 70px; }
      .content .sub_visual .subPic {
        height: 57%; }
      .content .sub_visual h1 {
        font: bold 78px/1 'lora'; }
      .content .sub_visual p {
        font: bold 24px/1.4 'lora';
        top: 49%; }
    .content .inner {
      width: 100%;
      padding: 0 30px; }

  /*----- footer ------------------------------------------------------- */
  #footer_sub {
    padding: 60px 30px; }
    #footer_sub .inner {
      width: 100%; } }
@media screen and (max-width: 539px) {
  /* secetion */
  .content {
    padding: 0 0 80px; }
    .content .sub_visual {
      margin-bottom: 70px; }
      .content .sub_visual .subPic {
        height: 57%; }
      .content .sub_visual h1 {
        font: bold 15vw/1 'lora'; }
      .content .sub_visual p {
        font: bold 5vw/1.4 'lora';
        top: 47%; }
    .content .inner {
      width: 100%;
      padding: 0 30px; }

  /*footer   */
  #footer_sub {
    padding: 40px 20px; }
    #footer_sub .inner h1 {
      font: 24px /1 'lora';
      margin-bottom: 10px; }
    #footer_sub .inner .policy {
      width: 100%;
      float: left; }
      #footer_sub .inner .policy li {
        margin-left: 0px;
        margin: 5px; }
        #footer_sub .inner .policy li a {
          font: normal 12px/1 'lora'; } }
/* ----- header ---------------------------------------------------------*/
#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3; }
  #header.on {
    background: #fff; }
  #header .inner {
    width: 1180px;
    height: 60px;
    margin: 0 auto;
    position: relative; }
    #header .inner > h1 {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 10px 0; }
      #header .inner > h1 > a {
        font: bold 20px/1 'lora';
        color: #262223; }
    #header .inner .menuWeb #gnb {
      position: absolute;
      bottom: 0;
      right: 200px; }
      #header .inner .menuWeb #gnb > li {
        float: left; }
        #header .inner .menuWeb #gnb > li > a {
          display: inline-block;
          padding: 10px 20px;
          font: 14px/1 'lora';
          color: #262223; }
          #header .inner .menuWeb #gnb > li > a:hover {
            border-bottom: 3px solid #FFB799;
            color: #006B6C; }
        #header .inner .menuWeb #gnb > li .sub {
          display: block;
          width: 1180px;
          height: 180px;
          background: #fff;
          position: absolute;
          top: 40px;
          right: -200px; }
          #header .inner .menuWeb #gnb > li .sub ul {
            position: relative;
            z-index: 3; }
            #header .inner .menuWeb #gnb > li .sub ul.ulAbout {
              position: absolute;
              top: 0;
              left: 700px;
              z-index: 4; }
            #header .inner .menuWeb #gnb > li .sub ul.ulCom {
              position: absolute;
              top: 0;
              left: 800px;
              z-index: 4; }
            #header .inner .menuWeb #gnb > li .sub ul li {
              width: 100px;
              height: 40px;
              background: #fff;
              text-align: center; }
              #header .inner .menuWeb #gnb > li .sub ul li a {
                color: #262223;
                font: normal 14px/40px 'lora';
                text-align: center; }
              #header .inner .menuWeb #gnb > li .sub ul li:hover a {
                color: #006B6C;
                font-weight: bold; }
          #header .inner .menuWeb #gnb > li .sub::before {
            content: "";
            display: block;
            width: 100vw;
            height: 180px;
            background: #fff;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 3; }
    #header .inner .menuWeb .util {
      position: absolute;
      bottom: 0;
      right: 0px; }
      #header .inner .menuWeb .util > li {
        float: left; }
        #header .inner .menuWeb .util > li > a {
          display: inline-block;
          padding: 10px;
          font: 14px/1 'lora';
          color: #262223; }
          #header .inner .menuWeb .util > li > a:hover {
            background: #FFB799;
            color: #F2EDD7; }
    #header .inner .btnCall {
      display: none;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      right: 30px;
      transform: translateY(-50%);
      z-index: 11; }
      #header .inner .btnCall::before {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #262223;
        position: absolute;
        top: 0;
        left: 0;
        transition: top 0.5s 0s , transform 0.5s 0.5s; }
      #header .inner .btnCall::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #262223;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: top 0.5s 0s , transform 0.5s 0.5s; }
      #header .inner .btnCall span {
        display: block;
        width: 100%;
        height: 2px;
        background: #262223;
        position: absolute;
        top: 50%;
        margin-top: -1px;
        left: 0;
        transform: translateY(-50%);
        text-indent: -9999px; }
      #header .inner .btnCall.on::before {
        top: 50%;
        margin-top: -1px;
        transform: rotate(45deg); }
      #header .inner .btnCall.on::after {
        bottom: 50%;
        margin-bottom: -1px;
        transform: rotate(-45deg); }
      #header .inner .btnCall.on span {
        transform: translateX(100%);
        opacity: 0; }
    #header .inner .bgMo {
      display: none; }
      #header .inner .bgMo.on {
        display: block;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 0;
        left: 0; }
    #header .inner .menuMo {
      position: fixed;
      top: 0;
      right: -270px;
      z-index: 10;
      width: 270px;
      height: 100vh;
      background: #999e85;
      padding: 20px 30px;
      transition: 0.5s; }
      #header .inner .menuMo h1 {
        padding-bottom: 30px;
        border-bottom: 1px solid #fff; }
        #header .inner .menuMo h1 a {
          display: block;
          font: normal 20px/1.2 'lora';
          color: #262223;
          text-align: center; }
      #header .inner .menuMo.on {
        right: 0px; }
      #header .inner .menuMo #gnbMo > li {
        position: relative; }
        #header .inner .menuMo #gnbMo > li > a {
          display: inline-block;
          padding: 10px 0px 10px 20px;
          font: normal 16px/1 'lora';
          color: #262223; }
          #header .inner .menuMo #gnbMo > li > a strong {
            font: normal 16px/1 'lora';
            position: absolute;
            top: 10px;
            right: 10px; }
            #header .inner .menuMo #gnbMo > li > a strong i {
              transition: 1s; }
        #header .inner .menuMo #gnbMo > li div {
          display: block;
          transition: 1s; }
          #header .inner .menuMo #gnbMo > li div ul li {
            padding: 0 40px;
            margin-bottom: 10px; }
            #header .inner .menuMo #gnbMo > li div ul li a {
              font: 14px/1 'lora';
              color: #262223; }
        #header .inner .menuMo #gnbMo > li.on strong i {
          transform: rotate(-180deg); }

/* ----- visual ---------------------------------------------------------*/
#visual {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden; }
  #visual img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  #visual .inner {
    width: 1180px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    #visual .inner h1 {
      font: 65px/1.2 'lora';
      color: #262223;
      margin-bottom: 30px; }
    #visual .inner a {
      display: block;
      width: 150px;
      height: 40px;
      font: 18px/40px 'lora';
      text-align: center;
      color: white;
      transition: 0.5s;
      color: #262223;
      border: 1px solid #000;
      box-shadow: 0 0 20px #eee;
      transition: 1s; }
      #visual .inner a:hover {
        background-color: #999e85;
        color: #fff;
        opacity: 0.7;
        border: 1px solid #999e85; }

/*----- bestSellers --------------------------------------------------- */
#bestSellers {
  width: 100%;
  padding: 80px 0;
  background: #F2EDD7; }
  #bestSellers .innerBS {
    width: 1180px;
    margin: 0 auto;
    position: relative;
    overflow: hidden; }
    #bestSellers .innerBS .txt {
      float: left;
      width: 240px;
      height: 400px;
      padding: 80px 20px;
      align-items: center;
      margin-right: 40px; }
      #bestSellers .innerBS .txt h1 {
        font: normal 36px/1 'lora';
        margin-bottom: 10px;
        letter-spacing: 2px; }
      #bestSellers .innerBS .txt p {
        font: normal 12px/1.2 'lora';
        letter-spacing: 2px;
        margin-bottom: 30px; }
      #bestSellers .innerBS .txt a {
        display: block;
        width: 120px;
        height: 40px;
        font: 16px/40px 'lora';
        border: 1px solid #262223;
        text-align: center;
        color: #262223;
        box-shadow: 0 0 20px #eee; }
    #bestSellers .innerBS .wrapBS {
      width: 900px;
      height: 400px;
      overflow: hidden;
      position: relative;
      /* 슬라이드 --------------------------------------------------*/
      /*좌우버튼 --------------------------------------------------*/ }
      #bestSellers .innerBS .wrapBS .swiper-wrapper {
        width: 100%;
        height: 100%;
        /* 활성화 슬라이드 --------------------------------------------*/
        /*활성화 슬라이드 이전, 다음 슬라이드 --------------------------*/ }
        #bestSellers .innerBS .wrapBS .swiper-wrapper .swiper-slide {
          width: 300px;
          position: relative;
          top: 0; }
          #bestSellers .innerBS .wrapBS .swiper-wrapper .swiper-slide .inner {
            width: 100%;
            background: #fff;
            padding: 30px;
            opacity: 0.4;
            transition: 1s; }
            #bestSellers .innerBS .wrapBS .swiper-wrapper .swiper-slide .inner .con {
              position: relative; }
              #bestSellers .innerBS .wrapBS .swiper-wrapper .swiper-slide .inner .con img {
                width: 240px;
                height: 240px;
                object-fit: center/cover; }
              #bestSellers .innerBS .wrapBS .swiper-wrapper .swiper-slide .inner .con h2 {
                font: normal 20px/1 "lora";
                color: #262223;
                margin-top: 15px;
                margin-bottom: 10px; }
                #bestSellers .innerBS .wrapBS .swiper-wrapper .swiper-slide .inner .con h2::after {
                  content: "";
                  display: block;
                  width: 30px;
                  height: 1px;
                  background: #888;
                  margin-top: 15px;
                  transition: all 1s 0.5s; }
              #bestSellers .innerBS .wrapBS .swiper-wrapper .swiper-slide .inner .con p {
                display: inline-block;
                margin-right: 120px;
                font: 13px/1.3 "arial";
                color: #aaa;
                letter-spacing: 1px; }
              #bestSellers .innerBS .wrapBS .swiper-wrapper .swiper-slide .inner .con span {
                font: normal 13px/1 "lora";
                text-align: right;
                color: #aaa; }
        #bestSellers .innerBS .wrapBS .swiper-wrapper .swiper-slide-active .inner {
          opacity: 1;
          box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.8); }
          #bestSellers .innerBS .wrapBS .swiper-wrapper .swiper-slide-active .inner .con h2::after {
            width: 100px; }
        #bestSellers .innerBS .wrapBS .swiper-wrapper .swiper-slide-prev .inner,
        #bestSellers .innerBS .wrapBS .swiper-wrapper .swiper-slide-next .inner {
          opacity: 0.7; }
      #bestSellers .innerBS .wrapBS .swiper-button-prev {
        top: auto;
        left: auto;
        bottom: -3%;
        right: 10%;
        color: #999e85;
        padding: 10px; }
        #bestSellers .innerBS .wrapBS .swiper-button-prev::after {
          display: none; }
      #bestSellers .innerBS .wrapBS .swiper-button-next {
        top: auto;
        left: auto;
        bottom: -3%;
        right: 3%;
        color: #999e85;
        padding: 10px; }
        #bestSellers .innerBS .wrapBS .swiper-button-next::after {
          display: none; }

/*----- learnMore --------------------------------------------------------*/
#banner {
  width: 100%;
  padding: 120px 0;
  background: url(../img/banner6.jpg) no-repeat center/cover fixed; }
  #banner .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative;
    text-align: right; }
    #banner .inner h1 {
      font: normal 36px/1 'lora';
      margin-bottom: 20px;
      letter-spacing: 2px; }
    #banner .inner p {
      font: normal 12px/1.2 'lora';
      letter-spacing: 2px;
      margin-bottom: 30px; }
    #banner .inner a {
      display: inline-block;
      width: 120px;
      height: 40px;
      font: 16px/40px 'lora';
      border: 1px solid #262223;
      text-align: center;
      color: #262223; }

/*----- brand -- individual slection -------------------------------------*/
#brand {
  width: 100%;
  background: #F2EDD7;
  padding: 180px 0; }
  #brand .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative; }
    #brand .inner .brandTxt {
      width: 680px;
      height: 480px;
      background: #999e85;
      padding: 100px 250px 0 50px; }
      #brand .inner .brandTxt h1 {
        font: normal 36px/1 'lora';
        margin-bottom: 20px;
        letter-spacing: 2px; }
      #brand .inner .brandTxt p {
        font: normal 12px/1.2 'lora';
        letter-spacing: 2px;
        margin-bottom: 30px; }
      #brand .inner .brandTxt a {
        display: inline-block;
        width: 120px;
        height: 40px;
        font: 16px/40px 'lora';
        border: 1px solid #262223;
        text-align: center;
        color: #262223; }
    #brand .inner .brandPic {
      width: 680px;
      height: 400px;
      background: #FFB799;
      position: absolute;
      top: 8%;
      right: 0; }
      #brand .inner .brandPic img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden; }

/*----- story ------------------------------------------------------*/
#story {
  width: 100%;
  padding: 120px 0px;
  background: url(../img/banner4.jpg) no-repeat center/cover; }
  #story .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative; }
    #story .inner p {
      width: 100%;
      font: normal 36px/1.2 'lora';
      letter-spacing: 2px;
      margin-bottom: 30px;
      text-align: center; }
    #story .inner a {
      display: block;
      margin: 0 auto;
      width: 120px;
      height: 40px;
      font: 16px/40px 'lora';
      border: 1px solid #262223;
      text-align: center;
      color: #262223; }

/*-----  instagram ---------------------------------------------------  */
#instagram {
  width: 100%;
  padding: 120px 0px;
  background: #fff; }
  #instagram .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative; }
    #instagram .inner h1 {
      font: normal 36px/1.2 'lora';
      margin-bottom: 30px;
      text-align: center; }
    #instagram .inner .wrap {
      width: 100%;
      margin: 0 auto; }
      #instagram .inner .wrap::after {
        content: "";
        display: block;
        clear: both; }
      #instagram .inner .wrap article {
        width: 230px;
        height: 230px;
        float: left; }
        #instagram .inner .wrap article .instaPic {
          width: 100%;
          height: 100%; }
          #instagram .inner .wrap article .instaPic img {
            width: 100%;
            height: 100%; }

/*----- footer ------------------------------------------------------- */
#footer {
  width: 100%;
  padding: 80px 0;
  background: #999e85; }
  #footer .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative; }
    #footer .inner::after {
      content: "";
      display: block;
      clear: both; }
    #footer .inner h1 {
      float: left;
      font: 30px /1 'lora';
      color: #262223; }
    #footer .inner .policy {
      float: right; }
      #footer .inner .policy li {
        float: left;
        margin-left: 20px; }
        #footer .inner .policy li a {
          font: normal 14px/1 'lora';
          color: #262223;
          opacity: 0.7; }
    #footer .inner address {
      float: left;
      width: 100%;
      font: 14px/1.3 'lora';
      color: #262223;
      opacity: 0.7;
      margin: 20px 0;
      border-top: 1px solid #262223;
      padding-top: 20px; }
    #footer .inner p {
      float: left;
      width: 100%;
      font: 12px/1 'lora';
      color: #262223;
      opacity: 0.7; }
    #footer .inner .sns {
      float: left;
      margin-top: 20px; }
      #footer .inner .sns li {
        float: left;
        margin-right: 10px; }
        #footer .inner .sns li a {
          color: #262223;
          opacity: 0.7; }

/*tablet-----------------------------------------------------------------*/
@media screen and (max-width: 1179px) {
  /* header */
  #header .inner {
    width: 100%;
    height: 80px; }
    #header .inner > h1 {
      left: 20px; }
    #header .inner .menuWeb {
      display: none; }
    #header .inner .btnCall {
      display: block; }

  /* visual */
  #visual .inner {
    width: 100%;
    padding: 0 30px; }
    #visual .inner h1 {
      font: normal 9vmin/1.2 'lora'; }

  /*bestSellers*/
  #bestSellers {
    padding: 100px 30px; }
    #bestSellers .innerBS {
      width: 100%;
      height: auto; }
      #bestSellers .innerBS .txt {
        float: left;
        width: 100%;
        height: auto;
        padding: 0px 0px;
        margin-bottom: 20px; }
        #bestSellers .innerBS .txt h1 {
          font: normal 36px/1 'lora';
          text-align: center; }
        #bestSellers .innerBS .txt p {
          display: none; }
        #bestSellers .innerBS .txt a {
          position: absolute;
          bottom: 0px;
          left: 50%;
          transform: translateX(-50%); }
      #bestSellers .innerBS .wrapBS {
        width: 100%;
        height: auto;
        padding-bottom: 100px;
        /*좌우버튼 --------------------------------------------------*/ }
        #bestSellers .innerBS .wrapBS .swiper-button-prev {
          bottom: 10%; }
        #bestSellers .innerBS .wrapBS .swiper-button-next {
          bottom: 10%; }

  /* learnMore */
  #banner {
    padding: 100px 30px; }
    #banner .inner {
      width: 100%; }

  /* brand -- individual slection */
  #brand {
    padding: 120px 30px; }
    #brand .inner {
      width: 100%; }
      #brand .inner .brandTxt {
        width: 65%;
        height: 65vh;
        background: #999e85;
        padding: 80px 200px 0 50px; }
      #brand .inner .brandPic {
        width: 50%;
        height: 55vh; }

  /* story */
  #story {
    padding: 80px 30px; }
    #story .inner {
      width: 100%; }
      #story .inner p {
        width: 100%;
        font: normal 3vmax/1.2 'lora'; }

  /*  instagram */
  #instagram {
    padding: 80px 30px; }
    #instagram .inner {
      width: 100%; }
      #instagram .inner h1 {
        font: normal 3vmax/1.2 'lora'; }
      #instagram .inner .wrap {
        width: 100%;
        margin: 0 auto; }
        #instagram .inner .wrap article {
          width: 20%;
          height: 20%;
          float: left; }

  /*footer */
  #footer {
    padding: 60px 30px; }
    #footer .inner {
      width: 100%; } }
/*middle-----------------------------------------------------------------*/
@media screen and (max-width: 799px) {
  /* visual */
  #visual {
    background: url(../img/banner1.jpg) no-repeat center/cover; }
    #visual img {
      display: none; }
    #visual .inner h1 {
      font: normal 8vw/1.2 'lora'; }
    #visual .inner a {
      width: 100%; }

  /* brand -- individual slection */
  #brand .inner .brandTxt {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 5% 10%;
    text-align: center; }
    #brand .inner .brandTxt a {
      width: 100%; }
  #brand .inner .brandPic {
    display: none; }

  /* story */
  #story {
    padding: 80px 30px; }
    #story .inner a {
      width: 100%; }

  /*  instagram */
  #instagram {
    padding: 80px 30px; }
    #instagram .inner {
      padding: 0 100px; }
      #instagram .inner .wrap {
        width: 100%;
        margin: 0 auto; }
        #instagram .inner .wrap article {
          width: calc(100% / 2);
          height: 20%;
          float: left; } }
/*mobile-----------------------------------------------------------------*/
@media screen and (max-width: 539px) {
  /*bestSellers*/
  #bestSellers {
    padding: 60px 20px; }
    #bestSellers .innerBS {
      width: 100%;
      height: auto; }
      #bestSellers .innerBS .txt {
        float: left;
        width: 100%;
        height: auto;
        padding: 0px 0px;
        margin-bottom: 20px; }
        #bestSellers .innerBS .txt h1 {
          font: normal 36px/1 'lora';
          text-align: center; }
        #bestSellers .innerBS .txt p {
          display: none; }
        #bestSellers .innerBS .txt a {
          position: absolute;
          bottom: 0px;
          left: 50%;
          transform: translateX(-50%); }
      #bestSellers .innerBS .wrapBS {
        width: 100%;
        height: auto;
        padding-bottom: 100px;
        /*좌우버튼 --------------------------------------------------*/ }
        #bestSellers .innerBS .wrapBS .swiper-wrapper {
          /* 활성화 슬라이드 --------------------------------------------*/
          /*활성화 슬라이드 이전, 다음 슬라이드 --------------------------*/ }
          #bestSellers .innerBS .wrapBS .swiper-wrapper .swiper-slide {
            width: 220px; }
            #bestSellers .innerBS .wrapBS .swiper-wrapper .swiper-slide .inner {
              padding: 10px; }
              #bestSellers .innerBS .wrapBS .swiper-wrapper .swiper-slide .inner .con h2 {
                font: normal 16px/1 "lora"; }
              #bestSellers .innerBS .wrapBS .swiper-wrapper .swiper-slide .inner .con p {
                margin-right: 80px; }
              #bestSellers .innerBS .wrapBS .swiper-wrapper .swiper-slide .inner .con img {
                width: 200px;
                height: 200px; }
          #bestSellers .innerBS .wrapBS .swiper-wrapper .swiper-slide-active .inner {
            opacity: 1;
            box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.8); }
            #bestSellers .innerBS .wrapBS .swiper-wrapper .swiper-slide-active .inner .con h2::after {
              width: 100px; }
          #bestSellers .innerBS .wrapBS .swiper-wrapper .swiper-slide-prev .inner,
          #bestSellers .innerBS .wrapBS .swiper-wrapper .swiper-slide-next .inner {
            opacity: 0.7; }
        #bestSellers .innerBS .wrapBS .swiper-button-prev {
          bottom: 10%; }
        #bestSellers .innerBS .wrapBS .swiper-button-next {
          bottom: 10%; }

  /* learnMore   */
  #banner {
    padding: 80px 20px; }
    #banner .inner h1 {
      font: normal 18px/1 'lora'; }
    #banner .inner a {
      width: 100%; }

  /* brand -- start Now */
  #brand {
    padding: 80px 20px; }
    #brand .inner .brandTxt {
      width: 90%;
      height: auto; }
      #brand .inner .brandTxt h1 {
        font: normal 24px/1 'lora'; }

  /* story */
  #story {
    padding: 60px 20px; }

  /*  instagram */
  #instagram {
    padding: 60px 20px; }
    #instagram .inner {
      padding: 0 20px; }
      #instagram .inner .wrap article {
        width: 100%; }

  /*footer   */
  #footer {
    padding: 40px 20px; }
    #footer .inner h1 {
      font: 24px /1 'lora';
      margin-bottom: 10px; }
    #footer .inner .policy {
      width: 100%;
      float: left; }
      #footer .inner .policy li {
        margin-left: 0px;
        margin: 5px; }
        #footer .inner .policy li a {
          font: normal 12px/1 'lora'; } }

/*# sourceMappingURL=style.css.map */
