.contact{
  .sub_visual{
    .subPic{
      background: url(../img/sub4.jpg) no-repeat center/cover; 
    }
    p{
      font-family: 'Noto Sans KR';
    }
  }
}

.wrap_form{
  #contact{
    width: 100%; 
    
    tr{
      display: block; margin-bottom: 60px;
      th{
        display: block;
        text-align: left;
        font: bold 40px/70px 'noto sans kr';
        margin-bottom: 30px;
      }
  
      td{
        input:focus { outline: none;}
      }

      &:nth-of-type(1){
        td{
          display: flex; justify-content: start; align-items: center;
          vertical-align: middle; margin: 40px 0px;

          label{
            font: bold 20px/50px 'noto sans kr';
            margin-right: 50px;
            color: #000; 

            span{
              display: inline-block; 
              width: 20px; height: 20px; border-radius: 50%; border: 2px solid #ddd;
              cursor: pointer;
            }
          }
          input[type=radio]{
            display: none;
          }
          input[type=radio]:checked + label span{ background: #aaa; }
        }
      }
      &:nth-of-type(2){
        td{
          display:flex;  justify-content: flex-start; flex-wrap: wrap;
          .info{
            width: 42%;  margin: 40px 20px;

            &:nth-of-type(odd){ margin-left: 0px}
          }
          label{
            display: inline-block; font: bold 20px/1 'noto sans kr';
            color: #ddd; //transform: translateY(40px); tansition: 350ms;
          }
          input[type=text]{
            display: block; width: 100%;
            border: none; border-bottom: 1px solid #bbb;
            padding: 16px 5px;
  
            &::after{
              content:""; display: block; 
              width: 20%; height: 1px; background: #555;
              transition: 500ms;
              &.on {
                width: 100%; height: 1px; background: #555;
              }
            }
            //div에 액티브(input에 값이 들어가면, 클래스 액티브 추가)가 되면, translateY 값 변경.
          }
        }
      }
      &:nth-of-type(3){
        td{
          display: block;
          textarea{
            width: 100%; height: 300px;
            padding: 10px;
            border: 1px solid #ddd;
            resize: none;
          }
        }
      }
    }
  }
  
  .terms{
    margin-bottom: 20px; 
    h2{
      font: bold 22px/30px 'noto sans kr';
      margin-bottom: 20px;
    }
    ul li{
      list-style: auto; list-style-type: disc;
      margin-left: 20px;
      font: normal 16px/1.2 'noto sans kr';
    }
  }
  
  .agreement{
    font: normal 18px/1 'noto sans kr';
    margin-bottom: 60px;
  }
  input[type=submit]{
    display: block; width: 20%; padding: 20px 0px;
    text-align: center; background: #333; color: #fff;
    margin: 0 auto;
    font: bold 20px/1 'noto sans kr';
  }
}

@media screen and (max-width: $tablet){
  .wrap_form{
    #contact{
      width: 100%; 
      
      tr{
        margin-bottom: 40px;
        th{
          font: bold 30px/60px 'noto sans kr';
          margin-bottom: 25px;
        }
        &:nth-of-type(1){
          td{
            margin: 30px 0px;
  
            label{
              font: bold 14px/35px 'noto sans kr';
              margin-right: 4%;
  
              span{ width: 14px; height: 14px; }
            }
          }
        }
        &:nth-of-type(2){
          td{
            .info{
              width: 42%;  margin: 30px 10px;
            }
            label{ font: bold 15px/1 'noto sans kr'; }
            input[type=text]{  padding: 12px 5px;}
            }
          }
        }
        &:nth-of-type(3){
          td{
            textarea{  height: 200px;  }
          }
        }
      }

    
    .terms{
      margin-bottom: 20px; 
      h2{
        font: bold 18px/30px 'noto sans kr';
        margin-bottom: 20px;
      }
      ul li{
        font: normal 14px/1.2 'noto sans kr';
        margin-left: 10px;
      }
    }
    
    .agreement{
      font: normal 16px/1 'noto sans kr';
      margin-bottom: 40px;
    }
    input[type=submit]{
      width: 20%; padding: 20px 0px;
      font: bold 14px/1 'noto sans kr';
    }
  }
}

@media screen and (max-width: $mobile){
  .wrap_form{
    #contact{
      width: 100%; 
      
      tr{
        margin-bottom: 30px;
        th{
          font: bold 24px/40px 'noto sans kr';
          margin-bottom: 20px;
        }
        &:nth-of-type(1){
          td{
            display: block; 
            margin: 10px 0px;
  
            label{
              display: block;
              font: bold 15px/40px 'noto sans kr';
              margin-right: 5vw;
  
              span{ width: 15px; height: 15px; }
            }
          }
        }
        &:nth-of-type(2){
          td{
            display: block;
            .info{
              width: 100%;  margin: 30px 10px;
            }
            label{ font: bold 15px/1 'noto sans kr'; }
            input[type=text]{  padding: 10px 5px;}
            }
          }
        }
        &:nth-of-type(3){
          td{
            textarea{  height: 250px;  }
          }
        }
      }

    
    .terms{
      margin-bottom: 20px; 
      h2{
        font: bold 18px/30px 'noto sans kr';
        margin-bottom: 20px;
      }
      ul li{
        font: normal 14px/1.2 'noto sans kr';
        margin-left: 10px;
      }
    }
    
    .agreement{
      font: normal 16px/1 'noto sans kr';
      margin-bottom: 40px;
    }
    input[type=submit]{
      width: 50%; padding: 20px 0px;
      font: bold 16px/1 'noto sans kr';
    }
  }
}
