.gallery{
  .sub_visual{
    .subPic{
      //background: url(../img/sub4.jpg) no-repeat center/cover; 
    }
    p{
      font-family: 'Noto Sans KR';
    }
  }
}

.gallery{

  #photoList{
    
    .item{
      width: 230px; 
      filter: grayscale(100%); 
      position: relative;

      div{
        margin: 5px; box-shadow: 0, 0, 20px, rgba(0,0,0,0.4); 
        img{
          width: 100%;
        }  
      }

      &:hover{
        transform: scale(1.1); position: relative; z-index: 2;
        filter: grayscale(0%); 
      }
    }
  }

}