.gallery{
  .sub_visual{
    .subPic{
      //background: url(../img/sub4.jpg) no-repeat center/cover; 
    }
    p{
      font-family: 'Noto Sans KR';
    }
  }
}

.gallery{
  #searchBox{
    width: 100%;
    display: flex; justify-content: flex-end; align-items: center;

    input[type=text]{
      width: 400px; height: 40px; padding: 14px 5px;
    }
    .btnSearh{
      border: none;
      width: 100px; height: 40px; font: bold 20px/40px 'noto sans';
      background: #333; color: #fff;
    }
  }


  #photoList{
    img{
      position: fixed; top: 0; left: 0;

    }
    .item{
      width: 230px; 
      filter: grayscale(100%); 
      position: relative;

      div{
        margin: 5px; box-shadow: 0, 0, 20px, rgba(0,0,0,0.4); 
        img{
          width: 100%;
        }  
      }

      &:hover{
        transform: scale(1.1); position: relative; z-index: 2;
        filter: grayscale(0%); 
      }
    }
  }

}