.location{
  .sub_visual{
    .subPic{
      background: url(../img/sub3.jpg) no-repeat center/cover; 
      filter: grayscale(80%);

    }
    p{
      font-family: 'Noto Sans KR';
    }
  }
}

.location{
  #tab{
    width: 100%; 
    padding-top: 40px;
    position: relative;

    dt{
      width: calc(100% / 3);  height: 40px;
      position: absolute; 
      top: 0;
      &:nth-of-type(1) {left: calc((100% / 3) * 0);}
      &:nth-of-type(2) {left: calc((100% / 3) * 1);}
      &:nth-of-type(3) {left: calc((100% / 3) * 2);}
      
      a{
        display: block; width: 100%; height: 100%;
        border: 1px solid $base; border-top-left-radius: 20px; border-top-right-radius: 20px; background: #eee;
        font: bold 20px/40px "Noto Sans KR"; color: #aaa;
        text-align: center; 
      }

      &:hover a{ background: $hover; color: $txt; }
      &.on a{ background: $hover; color: $txt;}
    }

    dd{
      width: 100%; 
      background: #fff;
      display: none;
      &.on {display: block;}

      .wrap{
        width: 100%;
        h2{
          font: bold 40px/1 'noto sans'; color: #000;
          margin: 50px 10px 50px 40px;
        }
        ul{
          padding: 10px 50px 10px;
          display: flex; justify-content: space-between; align-items: center;
          
          li{
            margin-bottom: 20px;

            p{
              font: bold 20px/1 'noto sans'; color: #000;
              margin-bottom: 10px;
            }
            strong{
              display: inline-block;
              font: bold 16px/1 'noto sans' ; color: #aaa;
            }
            span{
              display: inline-block;
              font: normal 16px/1 'noto sans kr' ; color: $txt;
            }
          }
        }
      }
    }

    #map{
      width: 100%; height: 500px;
      
    }
  }
}

@media screen and (max-width: $tablet){
  .location{
    #tab{
      padding-top: 20px;
      dd{
        .wrap{
          width: 100%;
          h2{
            margin-bottom: 30px ;
          }
          ul{
            display: block;
            
            li{
              margin-bottom: 20px;
  
              &:nth-of-type(1){ display: auto; width: 100%;}
              &:nth-of-type(2){ display: inline-block; margin-right: 20px;} 
              &:nth-of-type(3) {display: inline-block;}
            }
          }
        }
      }
  
      #map{
        height: 400px;
      }
    }
  }
}

@media screen and (max-width: $mobile){
  .location{
    #tab{
      dt{
        a{ font-size: 17px;}
      }
      dd{
        .wrap{
          h2{
            font: bold 28px/1 'noto sans'; color: #000;
            margin-left: 10px;
          }
          ul{
            padding-left: 10px;
            
            li{
              margin-bottom: 10px;
              p{
                font-size: 16px; 
                margin-bottom: 0px;
              }
              strong{
                font-size: 14px;
              }
              span{
                font-size: 14px;
              }
              &:nth-of-type(1){ display: block;}
              &:nth-of-type(2){ display: block; margin-right: 0px;} 
              &:nth-of-type(3) {display: block;}
            }
          }
        }
      }
  
      #map{
        height: 350px;
      }
    }
  }
}