// sass가 연결되어있으니 같은 태그나 클래스명을 사용할 경우 마진이나 패딩값이 적용될 수 있다.
.wrap_user{
  display: flex;   flex-direction: row;
  height: 100vh;
  overflow: hidden;

  .side_user{
    width: 514px; height: 100vh;
    background: $hover;
    display: flex; flex-direction: column; 
    justify-content: space-between;
    
    .header_user{
      h1{
        margin: 50px 0 20px;
        text-align: center;
        font: bold 36px/1 'lora';
        a{ color: $txt;}
      }
      p{
        font: normal 16px/1 'lora';
        text-align: center;
        margin-bottom: 20px;
      }
    }
    .inner_user{
      width: 100%;
    }
  }

  .content_user{
    display:flex; flex-direction: column;
    flex:1; overflow: auto; padding: 0;
  
    nav.goToJoin{
    display: flex; 
    flex-grow: 0; padding: 30px 30px 0;
    align-items: center; 
    justify-content: flex-end;

      p{
        font: 13px/1 'noto sans kr';
        a{
          margin-left: 10px;
          color:rgb(27, 27, 212)
        }
      }
    }

    main.login_user{
      display: flex; 
      flex-grow: 1; 
      align-items: center; justify-content: center; 
      margin: 0; padding: 0;
      
      .inner_user{
        padding: 30px 60px 0;
        width: 100%; max-width: 416px;
    
        h2{
          font: bold 24px/1 'noto sans kr'; color: #000;
          text-align: center;
          margin-bottom: 30px;
        }

        table{
          width: 100%;

          th{
            display: block; text-align: left;
            label{
              margin: 14px 0 4px;
              color: #000;
              font: bold 15px/24px 'noto sans kr';
            }
          }
          td{
            display: block; 
            >input[type=text]{
              width: 100%; margin-right: 8px;
              height: 40px;
              padding: 10px 16px;
              border-radius: 8px;
              background: #f3f3f4; //rgb(232, 240, 254)
              border: none;

              &[type=text]:hover {
                background: #fff;
                border: 1px solid rgba(234,76,137,0.4);
                box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1);
              }
            }
            input:focus{
              outline: none;
              border: 1px solid rgba(234,76,137,0.4);
              box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1);
            }
            input[type=submit]{
              display: block; margin-top: 22px;
              width: 200px; height: 40px; 
              padding: 10px 16px;
              background: $core;
              border: none; border-radius: 8px; text-align: center; color: #fff;
              font: bold 14px/20px 'noto sans kr';
            }
            &:last-child{ 
              display: flex; justify-content: center;
            }
          }
        }


        .sns_user{
          margin-top: 40px;
          padding: 20px;
          p{
            font: bold 14px/1 'noto sans kr';
            text-align: center; color: #555;
            margin-bottom: 20px;
          }
          ul{
            display: flex; justify-content: space-around; align-items: center;
            li{
              width: 50px;height: 50px;
              border-radius: 50%; text-align: center;
              font: 20px/50px 'noto sans';
              background: #ddd; color: #fff;
              opacity: 0.7;
              &:hover {opacity: 1;}
            }
          }
        }
      }
    }
  }
}
//960
@media screen and (max-width: $tablet){
  .wrap_user{
    .side_user{ width: 450px; }
  }
}

@media screen and (max-width: 960px){
  .wrap_user{
    display: block;
    .side_user{ 
      display: block; width: 100%; height: auto;
      background: #fff; //position: absolute; top: 0; left:0;
      
      .header_user{
        width: 416px;
        margin: 0 auto;
        h1{
          margin: auto;
          padding:48px 20px 0;
          text-align: left;
          font: bold 24px/1 'lora';
          a{ color: $txt;}
        }
        p{ display: none; }
      }
      .inner_user{display: none; }
    }

    .content_user{
      display: block; 

      nav.goToJoin{
        position: absolute; bottom: 135px; left: 50%; transform:translateX(-50%);
        display: block; text-align: center;
      }
    }
  }
}

@media screen and (max-width: $mobile){
  .wrap_user{

    .side_user{ 
      .header_user{
        width: 416px;

      }
    }

    .content_user{
      display: block; width: 100%;

      nav.goToJoin{
        p{
          font-size: 12px; line-height: 18px;
          a{  display: block;}
        }
      }

      main.login_user{
        .inner_user{
          .sns_user{
            padding: 0px;
          }
        }
      }
    }
  }
}