.youtube{
  .sub_visual{
    .subPic{
      background: url(../img/sub1.jpg) no-repeat center/cover; 
    }
    p{
      font-family: 'Noto Sans KR';
    }
  }
}

.youtube{
  .vidList{
    width: 100%;
    display: flex;  flex-wrap: wrap; justify-content: space-around;
    article{
      //display: none;
      width: 23%; padding: 20px;
      margin-bottom: 60px;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
      transition: 1s;

      &.on { display: block; transition: 0.5s;}

      strong{
        display: inline-block;
        font: 20px/1 'Noto Sans KR';
        color: $menu; opacity: 0.8;
        margin-bottom: 30px;
        transition: 1s;

        &::after{
          content:""; display: block; 
          width: 40px; height: 2px; background: $core;
          margin-top: 18px;
          transition: 1s;
        }
      }
      h2{
        font: normal 16px/1 'Noto Sans';
        color: $txt;
        margin-bottom: 20px;
        height: 70px;
      }
      p{
        font: normal 12px/1 'Noto Sans KR';
        color: $txt; opacity: 0.7;
        height: 210px;
      }
      a{
        display:block; width: 100%;
        
        img{
          width: 100%; height: 100%;
          filter: grayscale(100%);
          transition: 1s;
        }
      }
      &:hover { transform: translateY(-30px); }
      &:hover strong {
        font-weight: bold;  font-size: 36px; opacity: 1;
      }
      &:hover strong::after{
        width: 250%; background: $hover;
      }
      &:hover h2 {font-weight: bold;}
      &:hover p {opacity: 1;}
      &:hover img{ filter: grayscale(0%); transform: scale(1.1)}
    }
  }
}


/*
        p{
          font: nomal 12px/1 'Noto Sans KR';
          color: $txt; opacity: 0.7;
          margin-bottom: 20px;
        }
        span{
          font: nomal 12px/1 'Noto Sans KR';
          color: orange; 
        }
*/

