@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

$tablet: 1179px;
$middle : 799px;
$mobile: 539px;
// 중간 760  에서  미디어쿼리 만들기, 베스트셀이랑, 스토리

$base: #F2EDD7;
$core: #999e85;
$hover: #FFB799;
$txt : #262223;
$menu: #006B6C;

@import 'reset.scss';
@import 'subpage.scss';




/* ----- header ---------------------------------------------------------*/
#header{
  width: 100%;
  //border-bottom: 1px solid $hover;
  position: fixed; top: 0; left: 0; z-index: 3;

  &.on {
    background: #fff;
    border-bottom: 1px solid #eee;
  }

  .inner{
    width: 1180px; height: 60px;
    margin: 0 auto;
    position: relative;

    >h1{
      position: absolute; bottom: 0; left: 0; padding: 10px 0;
      //background: $txt;
      
      >a{
        font: bold 20px/1 'lora';
        color: $txt;
      }
    }

    .menuWeb{
      #gnb{
        position: absolute; bottom: 0; right: 200px; 

        //js로 컨트롤 //&:hover .sub{ display: block}
        >li{
          float: left;

          >a{
            display: inline-block;
            padding: 10px 20px;
            font: 14px/1 'lora';
            color: $txt;
            position: relative;
            &::after{
              content: ''; display: block; 
              position: absolute; bottom: 0; left: 0;
              width: 0; height: 3px; transition: all 350ms ease-in-out;
              opacity: 0; background: $hover;
            }
            &:hover::after{width: 100%; opacity: 1;}
            &.on::after{width: 100%; opacity: 1;}
          }

          .sub{
            display: none;
            width: 1180px; height: 180px;
            background: #fff;
            position: absolute; top: 35px; right: -200px;

            ul{
              position: relative;
              z-index: 3;
              &.ulAbout{
                position: absolute; top:0; left: 700px;
                z-index: 4;
              }
              &.ulCom{
                position: absolute; top:0; left: 800px;
                z-index: 4;
              }

              li{
                width: 100px; height: 40px;               
                background: #fff;
                text-align: center;
                
                a{
                  color: $txt;
                  font: normal 14px/40px 'lora';
                  text-align: center;
                  position: relative;
                }
                &:hover a {color: $menu;  font-weight: bold;}
              }
            }

            &::before{
              content: "";
              display: block; 
              width: 100vw;
              height: 180px;
              background: #fff;
              position: absolute; top: 0; left: 50%; transform: translateX(-50%);
              z-index: 3;
            }

          }
        }
      }
      .util{
        position: absolute; bottom: 0; right: 0px;

        >li{
          float:left;
          >a{
            display: inline-block;
            padding: 10px;
            font: 14px/1 'lora';
            color: $txt;

            &:hover{
              background: $hover;
              color: $base;
            }
          }
        }
      }
    }


    .btnCall{
      display: none;
      width: 20px; height: 20px;
      position: absolute; top: 50%; right: 30px; transform: translateY(-50%);
      z-index: 11;

      &::before{
        content: ""; display: block; 
        width: 100%; height: 2px; background: $txt;
        position: absolute; top: 0; left: 0;
        transition: top 0.5s 0s , transform 0.5s 0.5s; 
      }
      &::after{
        content:""; display: block; 
        width: 100%; height: 2px; background: $txt;
        position: absolute; bottom: 0; left: 0;
        transition: top 0.5s 0s , transform 0.5s 0.5s; 
      }
      span{
        display: block;
        width: 100%; height: 2px; background: $txt;
        position: absolute; top: 50%; margin-top: -1px; left: 0; transform: translateY(-50%);
        text-indent: -9999px;
      }

      &.on{
        &::before{
          top: 50%; margin-top: -1px;
          transform: rotate(45deg);
        }
        &::after{
          bottom: 50%; margin-bottom: -1px;
          transform: rotate(-45deg);
        }
        span{
          transform: translateX(100%);
          opacity: 0;
        }
      }
    }


    .bgMo{
      display: none;
      &.on{
        display: block;
        width: 100vw; height: 100vh; background: rgba(0,0,0,0.8);
        position: absolute; top:0; left: 0;
      }
    }
    .menuMo{
      position: fixed; top: 0; right: -270px; //right: 0;
      z-index: 10;
      width: 270px; height: 100vh; background: $core;
      padding: 20px 30px;
      transition: 0.5s; 

      h1{
        padding-bottom: 30px;
        border-bottom: 1px solid #fff;
        a{
          display: block;
          font: normal 20px/1.2 'lora'; color: $txt;
          text-align: center;
        }
      }

      &.on{right: 0px;}

      #gnbMo{
        >li{
          position: relative;
          >a{
            display: inline-block; padding: 10px 0px 10px 20px;
            font: normal 16px/1 'lora';
            color: $txt;
            
            strong{
              font: normal 16px/1 'lora';
              position: absolute; top: 10px; right: 10px;

              i{ transition: 1s;}
            } 
          }

          div{
            //display: none;
            display: block;
            transition: 1s;

            ul li{
              padding: 0 40px;
              margin-bottom: 10px;
              a{
                font: 14px/1 'lora';
                color:$txt;
              }
            }
          }
          
          &.on strong i{
            transform: rotate(-180deg);
          } 
        }
      }
    }
  }
}

/* ----- visual ---------------------------------------------------------*/
#visual{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

  img{
    width: 100%; height: 100%;
    object-fit: cover;
  }
  .inner{
    width: 1180px;
    margin: 0 auto;
    position: absolute; top:50%; left: 50%; 
    transform: translate(-50%, -50%);

      h1{
        font:65px/1.2 'lora';
        color: $txt;
        margin-bottom: 30px;
      }
      a{
        display: block; width: 150px; height: 40px;
        font: 18px/40px 'lora';
        //border: 1px solid $txt; 
        text-align: center; color: white; 
        transition: 0.5s;
        color: $txt; 
        border: 1px solid #000;        
        box-shadow: 0 0 20px #eee;
        transition: 1s;

        &:hover {
          background-color: $core;
          color: #fff;
          opacity: 0.7;
          border: 1px solid  $core;
        }
      }
  }
}

/*----- bestSellers --------------------------------------------------- */
#bestSellers{
  width: 100%;
  padding: 80px 0;
  background: $base;

  .innerBS{
    width: 1180px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    .txt{
      float:left;
      width: 240px; height: 400px;
      padding: 80px 20px ;
      align-items: center; 
      margin-right: 40px;

      h1{
        font: normal 36px/1 'lora';
        margin-bottom: 10px;
        letter-spacing: 2px;
      }
      p{
        font: normal 12px/1.2 'lora';
        letter-spacing: 2px;
        margin-bottom: 30px;
      }
      a{
        display: block;
        width: 120px; height: 40px;
        font: 16px/40px 'lora';
        border: 1px solid $txt; text-align: center; color: $txt;
        box-shadow: 0 0 20px #eee;
      }
    }

    .wrapBS {
      width: 900px;
      height: 400px;
      overflow: hidden;
      position: relative;
    
      /* 슬라이드 --------------------------------------------------*/
      .swiper-wrapper {
        width: 100%;
        height: 100%;
    
        .swiper-slide {
          width: 300px;
          position: relative;
          top: 0;

          .inner {
            width: 100%;
            background: #fff;
            padding: 30px;
            opacity: 0.4;
            transition: 1s;
    
            .con {
              position: relative;
              //z-index: 10;
    
              img {
                width: 240px; height: 240px;
                object-fit: center/cover;
              }
              h2 {
                font: normal 20px/1 "lora";
                color: $txt;
                margin-top: 15px;
                margin-bottom: 10px;
    
                &::after {
                  content: "";
                  display: block;
                  width: 30px;
                  height: 1px;
                  background: #888;
                  margin-top: 15px;
                  transition: all 1s 0.5s;
                }
              }
              p {
                display: inline-block;
                margin-right: 120px;
                font: 13px/1.3 "arial";
                color: #aaa;
                letter-spacing: 1px;
              }
              span{
                font: normal 13px/1 "lora";
                text-align: right;
                color: #aaa
              }
            }
          }
        }
    
        /* 활성화 슬라이드 --------------------------------------------*/
        .swiper-slide-active {
          .inner {
            opacity: 1;
            box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.8);
    
            .con h2::after {
              width: 100px;
            }
          }
        }
        /*활성화 슬라이드 이전, 다음 슬라이드 --------------------------*/
        .swiper-slide-prev .inner,
        .swiper-slide-next .inner {
          opacity: 0.7;
        }
      }

          /*좌우버튼 --------------------------------------------------*/
    .swiper-button-prev {
      top: auto; left: auto;
      bottom:-3%; right:10%;
      //transform: scale(0.5);
      color: $core;
      padding: 10px;

      &::after{display: none;}
    }
    .swiper-button-next {
      top: auto; left: auto;
      bottom: -3% ;right:3%;
      //transform: scale(0.5);
      color: $core;
      padding: 10px;

      &::after{display: none;}
    }
    }
  }
}
/*----- learnMore --------------------------------------------------------*/
#banner{
  width: 100%;
  padding: 120px 0;
  background: url(../img/banner6.jpg) no-repeat center/cover fixed;

  .inner{
    width: 1180px;
    margin: 0 auto;
    position: relative;
    text-align: right;

    h1{
        font: normal 36px/1 'lora';
        margin-bottom: 20px;
        letter-spacing: 2px;
    }
    p{
      font: normal 12px/1.2 'lora';
      letter-spacing: 2px;
      margin-bottom: 30px;
    }
    a{
      display: inline-block;
      width: 120px; height: 40px;
      font: 16px/40px 'lora';
      border: 1px solid $txt; text-align: center; color: $txt;
    }
  }
}
/*----- brand -- individual slection -------------------------------------*/
#brand{
  width: 100%;
  background: $base;
  padding: 180px 0;

  .inner{
    width: 1180px; 
    margin: 0 auto;
    position: relative;

    .brandTxt{
      width: 680px; height: 480px;
      background: $core;
      padding: 100px 250px 0 50px;

      h1{
        font: normal 36px/1 'lora';
        margin-bottom: 20px;
        letter-spacing: 2px;
    }
      p{
        font: normal 12px/1.2 'lora';
        letter-spacing: 2px;
        margin-bottom: 30px;
      }
      a{
        display: inline-block;
        width: 120px; height: 40px;
        font: 16px/40px 'lora';
        border: 1px solid $txt; text-align: center; color: $txt;
      }
    }

    .brandPic{
      width: 680px; height: 400px;
      background: $hover;
      position: absolute;
      top: 8%; right: 0;

      img{
        width: 100%; height: 100%;
        object-fit: cover;
        overflow: hidden;
      }
    }
  }
}
/*----- story ------------------------------------------------------*/
#story{
  width: 100%;
  padding: 120px 0px;
  background: url(../img/banner4.jpg) no-repeat center/cover;

  .inner{
    width: 1180px;
    margin: 0 auto;
    position: relative;

    p{
      width: 100%;
      font: normal 36px/1.2 'lora';
      letter-spacing: 2px;
      margin-bottom: 30px;
      text-align: center;
    }
    a{
      display: block;
      margin: 0 auto;
      width: 120px; height: 40px;
      font: 16px/40px 'lora';
      border: 1px solid $txt; text-align: center; color: $txt;
    }
  }
}
/*-----  instagram ---------------------------------------------------  */
#instagram{
  width: 100%;
  padding: 120px 0px;
  background: #fff;

  .inner{
    width: 1180px;
    margin: 0 auto; 
    position: relative;

    h1{
      font: normal 36px/1.2 'lora';
      margin-bottom: 30px;
      text-align: center;
    }

    .wrap{
      width: 100%;
      margin: 0 auto;

      &::after{ content: ""; display: block; clear: both;}
      article{
        width: 230px; height: 230px; float:left;

        .instaPic{
          width: 100%; height: 100%;
          //background: $core;
          img{
            width: 100%;height: 100%;
          }
        }
      }
    }
  }
}


/*----- footer ------------------------------------------------------- */
#footer{
  width: 100%;
  padding: 80px 0;
  background: $core;

  .inner{
    width: 1180px;
    margin: 0 auto;
    position: relative;

    &::after {content: ""; display: block; clear: both;}
    h1{
      float: left;
      font: 30px /1 'lora';
      color: $txt; 
    }
    .policy{
      float: right;

      li{
        float: left; margin-left: 20px;

        a{
          font: normal 14px/1 'lora';
          color: $txt; opacity: 0.7;
        }
      }
    }
    address{
      float: left;
      width: 100%;
      font: 14px/1.3 'lora';
      color: $txt; opacity: 0.7;
      margin: 20px 0;
      border-top: 1px solid $txt;
      padding-top: 20px;
    }
    p{
      float:left;
      width:100%; 
      font:12px/1 'lora'; 
      color: $txt; opacity: 0.7;
    }

    .sns{
      float: left;
      margin-top: 20px;
        li{
          float: left; margin-right: 10px;
          
          a{
            color: $txt; opacity: 0.7;
          }
        }
    }
  }
}



/*tablet-----------------------------------------------------------------*/
@media screen and (max-width: $tablet){
  /* header */
  #header{
    .inner{
      width: 100%; height: 80px;

      >h1{ left: 20px;}
      .menuWeb{
        display: none;
      }
      .btnCall{
        display: block;
      }
    }
  }

  /* visual */
  #visual{

    .inner{
      width: 100%;
      padding: 0 30px;
      h1{ font: normal 9vmin/1.2 'lora';}
      //a{width: 100%;}
    }
  }
  /*bestSellers*/
  #bestSellers{
    padding: 100px 30px;

    .innerBS{
      width: 100%;
      height: auto;


      .txt{
        float:left;
        width: 100%;  height: auto;
        padding: 0px 0px ;
        margin-bottom: 20px;

        h1{
          font: normal 36px/1 'lora';
          text-align: center;
        }
        p{display: none;}
        a{
          position: absolute; bottom: 0px; left: 50%; transform: translateX(-50%);
        }
      }
  
      .wrapBS {
        width: 100%;
        height: auto;
        padding-bottom: 100px;

      /*좌우버튼 --------------------------------------------------*/
      .swiper-button-prev {bottom:10%;}
      .swiper-button-next {bottom: 10%;}
      }
    }
  }
  /* learnMore */
  #banner{
    padding: 100px 30px;

    .inner{
      width: 100%;
    }
  }
  /* brand -- individual slection */
  #brand{
    padding: 120px 30px;

    .inner{
      width: 100%; 

      .brandTxt{
        width: 65%; height: 65vh;
        background: $core;
        padding: 80px 200px 0 50px;
      }

      .brandPic{
        width:50%; height: 55vh;
      }
    }
  }
  /* story */
  #story{
    padding: 80px 30px;

    .inner{
      width: 100%;

      p{
        width: 100%;
        font: normal 3vmax/1.2 'lora';
      }
    }
  }
  /*  instagram */
  #instagram{
    padding: 80px 30px;

    .inner{
      width: 100%;

      h1{
        font: normal 3vmax/1.2 'lora';
      }

      .wrap{
        width: 100%;
        margin: 0 auto;

        article{
          width: 20%; height: 20%; float:left;
        }
      }
    }
  }

  /*footer */
  #footer{
    padding:60px 30px;

    .inner{
      width: 100%;
    }
  }
}
/*middle-----------------------------------------------------------------*/
@media screen and (max-width: $middle){
  /* visual */
  #visual{
    background: url(../img/banner1.jpg) no-repeat center/cover;

    img{display: none;}
    .inner{
      h1{ font: normal 8vw/1.2 'lora';}
      a{width: 100%;}
    }
  }
  /* brand -- individual slection */
  #brand{
    .inner{
      .brandTxt{
        width: 80%; height: auto;
        margin: 0 auto;
        padding: 5% 10%;
        text-align: center;
        a{
          width: 100%;
        }
      }

      .brandPic{
        display: none;
      }
    }
  }
  /* story */
  #story{
    padding: 80px 30px;
    .inner{
      a{
        width: 100%;
      }
    }
  }
  /*  instagram */
  #instagram{
    padding: 80px 30px;

    .inner{
      padding: 0 100px;
      .wrap{
        width: 100%;
        margin: 0 auto;

        article{
          width:calc(100% / 2); height: 20%; float:left;
        }
      }
    }
  }
}
/*mobile-----------------------------------------------------------------*/
@media screen and (max-width: $mobile){
  /*bestSellers*/
  #bestSellers{
    padding: 60px 20px;

    .innerBS{
      width: 100%;
      height: auto;

      .txt{
        float:left;
        width: 100%;  height: auto;
        padding: 0px 0px ;
        margin-bottom: 20px;

        h1{
          font: normal 36px/1 'lora';
          text-align: center;
        }
        p{display: none;}
        a{
          position: absolute; bottom: 0px; left: 50%; transform: translateX(-50%);
        }
      }
  
      .wrapBS {
        width: 100%;
        height: auto;
        padding-bottom: 100px;

        .swiper-wrapper {
          .swiper-slide {
            width: 220px;
            .inner {
              padding: 10px;
              .con {
                h2{font: normal 16px/1 "lora";}
                p{margin-right: 80px;}
                img {width: 200px; height: 200px;}
              }
            }
          }
      
          /* 활성화 슬라이드 --------------------------------------------*/
          .swiper-slide-active {
            .inner {
              opacity: 1;
              box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.8);
      
              .con h2::after {
                width: 100px;
              }
            }
          }
          /*활성화 슬라이드 이전, 다음 슬라이드 --------------------------*/
          .swiper-slide-prev .inner,
          .swiper-slide-next .inner {
            opacity: 0.7;
          }
        }

      /*좌우버튼 --------------------------------------------------*/
      .swiper-button-prev {bottom:10%;}
      .swiper-button-next {bottom: 10%;}
      }
    }
  }

  /* learnMore   */
  #banner{
    padding: 80px 20px;
    .inner{
      h1{
        font: normal 18px/1 'lora';
      }
      a{ width: 100%;}
    }
  }
  /* brand -- start Now */
  #brand{
    padding: 80px 20px;
    
    .inner{
      .brandTxt{
        width: 90%; height: auto;
        h1{
        font: normal 24px/1 'lora';
        }
      }
    }
  }
  /* story */
  #story{
    padding: 60px 20px;
  }
  /*  instagram */
  #instagram{
    padding: 60px 20px;

    .inner{
      padding: 0 20px;
      .wrap{
        article{ width:100%;}
      }
    }
  }
  /*footer   */
  #footer{
    padding:40px 20px;

    .inner{
      h1{
        font: 24px /1 'lora';
        margin-bottom: 10px;
      }
      .policy{
        width: 100%;
        float: left;
        li{
          margin-left: 0px;
          margin: 5px;
          a{font: normal 12px/1 'lora';}
        } 
      }
    }
  }
}


