@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


@import 'reset.scss';

$base: #F2EDD7;
$core: #CCD1B6;
$hover: #FFB799;
$txt : #262223;

/* ----- header ---------------------------------------------------------*/
body::after{content: ""; display: block; clear: both;}
#header{
  width: 100%;
  //border-bottom: 1px solid $hover;
  position: absolute; top: 0; left: 0; z-index: 3;

  .inner{
    width: 1180px;  height: 80px;
    margin: 0 auto;
    position: relative;
    >h1{
      position: absolute; top: 50%; left: 0; transform: translateY(-50%);
      
      >a{
        font: bold 20px/1 'lora';
        color: $txt;
      }
    }

    .menuWeb{
      #gnb{
        position: absolute; top: 50%; right: 200px; transform: translateY(-50%);
        >li{
          float: left;

          >a{
            display: inline-block;
            padding: 10px 20px;
            font: 14px/1 'lora';
            color: $txt;

            &:hover{
              background: $hover;
              color: $base;
            }
          }
        }
      }
      #util{
        position: absolute; top: 50%; right: 0px; transform: translateY(-50%);
        >li{
          float:left;
          >a{
            display: inline-block;
            padding: 10px;
            font: 14px/1 'lora';
            color: $txt;

            &:hover{
              background: $hover;
              color: $base;
            }
          }
        }
      }
    }

    .btnCall, .menuMo{display: none;}
  }
}
/* ----- visual ---------------------------------------------------------*/
#visual{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

  img{
    width: 100%; height: 100%;
    object-fit: cover;
  }
  .inner{
    width: 1180px;
    margin: 0 auto;
    position: absolute; top:50%; left: 50%; 
    transform: translate(-50%, -50%);

      h1{
        font:65px/1.2 'lora';
        color: $txt;
        margin-bottom: 30px;
      }
      a{
        display: block; width: 200px; height: 40px;
        font: 18px/40px 'lora';
        border: 1px solid $txt; text-align: center; color: $txt;
      }
  }
}