@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


@import 'reset.scss';

$base: #F2EDD7;
$core: #CCD1B6;
$hover: #FFB799;
$txt : #262223;

/* ----- header ---------------------------------------------------------*/
#header{
  width: 100%;
  //border-bottom: 1px solid $hover;
  position: absolute; top: 0; left: 0; z-index: 3;

  .inner{
    width: 1180px;  height: 80px;
    margin: 0 auto;
    position: relative;
    >h1{
      position: absolute; top: 50%; left: 0; transform: translateY(-50%);
      
      >a{
        font: bold 20px/1 'lora';
        color: $txt;
      }
    }

    .menuWeb{
      #gnb{
        position: absolute; top: 50%; right: 200px; transform: translateY(-50%);
        >li{
          float: left;

          >a{
            display: inline-block;
            padding: 10px 20px;
            font: 14px/1 'lora';
            color: $txt;

            &:hover{
              background: $hover;
              color: $base; 
            }
          }
          .sub{
            
          }
        }
      }
      #util{
        position: absolute; top: 50%; right: 0px; transform: translateY(-50%);
        >li{
          float:left;
          >a{
            display: inline-block;
            padding: 10px;
            font: 14px/1 'lora';
            color: $txt;

            &:hover{
              background: $hover;
              color: $base;
            }
          }
        }
      }
    }

    .btnCall, .menuMo{display: none;}
  }
}
/* ----- visual ---------------------------------------------------------*/
#visual{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

  img{
    width: 100%; height: 100%;
    object-fit: cover;
  }
  .inner{
    width: 1180px;
    margin: 0 auto;
    position: absolute; top:50%; left: 50%; 
    transform: translate(-50%, -50%);

      h1{
        font:65px/1.2 'lora';
        color: $txt;
        margin-bottom: 30px;
      }
      a{
        display: block; width: 150px; height: 40px;
        font: 18px/40px 'lora';
        border: 1px solid $txt; text-align: center; color: $txt;
      }
  }
}
/*----- bestSellers --------------------------------------------------- */
#bestSellers{
  width: 100%;
  padding: 180px 0;
  background: $base;

  .inner{
    width: 1180px;
    margin: 0 auto;
    position: relative;

    .txt{
      width: 230px; 
      padding: 50px 0;

      h1{
        font: normal 36px/1 'lora';
        margin-bottom: 10px;
        letter-spacing: 2px;
      }
      p{
        font: normal 12px/1.2 'lora';
        letter-spacing: 2px;
        margin-bottom: 30px;
      }
      a{
        display: block;
        width: 120px; height: 40px;
        font: 16px/40px 'lora';
        border: 1px solid $txt; text-align: center; color: $txt;
      }
    }
    .con{
      position: absolute; top: 0; right: -400px;


      .wrap{
        display: flex;

        article{
          width: 380px; height: 300px;
          margin-right: 20px;

          &:last-child{ margin-right: 0;}
          .pic{
            width: 100%; height: 100%;
            background: $core;
          }
        }
      }
    }
  }
}
/*----- learnMore --------------------------------------------------------*/
#banner{
  width: 100%;
  padding: 120px 0;
  background: url(../img/banner6.jpg) no-repeat center/cover fixed;

  .inner{
    width: 1180px;
    margin: 0 auto;
    position: relative;
    text-align: right;

    h1{
        font: normal 36px/1 'lora';
        margin-bottom: 20px;
        letter-spacing: 2px;
    }
    p{
      font: normal 12px/1.2 'lora';
      letter-spacing: 2px;
      margin-bottom: 30px;
    }
    a{
      display: inline-block;
      width: 120px; height: 40px;
      font: 16px/40px 'lora';
      border: 1px solid $txt; text-align: center; color: $txt;
    }
  }
}
/*----- brand -- individual slection -------------------------------------*/
#brand{
  width: 100%;
  background: $base;
  padding: 180px 0;

  .inner{
    width: 1180px; 
    margin: 0 auto;
    position: relative;

    .brandTxt{
      width: 680px; height: 480px;
      background: $core;
      padding: 100px 250px 0 50px;

      h1{
        font: normal 36px/1 'lora';
        margin-bottom: 20px;
        letter-spacing: 2px;
    }
      p{
        font: normal 12px/1.2 'lora';
        letter-spacing: 2px;
        margin-bottom: 30px;
      }
      a{
        display: inline-block;
        width: 120px; height: 40px;
        font: 16px/40px 'lora';
        border: 1px solid $txt; text-align: center; color: $txt;
      }
    }

    .brandPic{
      width: 680px; height: 400px;
      background: $hover;
      position: absolute;
      top: 8%; right: 0;

      img{
        width: 100%; height: 100%;
        object-fit: cover;
        overflow: hidden;
      }
    }
  }
}
/*----- story -------------------------------------------------------------*/
#story{
  width: 100%;
  padding: 120px;
  background: url(../img/banner4.jpg) no-repeat center/cover;

  .inner{
    width: 1180px;
    margin: 0 auto;
    position: relative;

    p{
      font: normal 36px/1.2 'lora';
      letter-spacing: 2px;
      margin-bottom: 30px;
      text-align: center;
    }
    a{
      display: block;
      margin: 0 auto;
      width: 120px; height: 40px;
      font: 16px/40px 'lora';
      border: 1px solid $txt; text-align: center; color: $txt;
    }
  }
}
/*-----  instagram ------------------------------------------------------  */
#instagram{
  width: 100%;
  padding: 120px;
  background: #fff;

  h1{
    font: normal 36px/1.2 'lora';
    margin-bottom: 30px;
    text-align: center;
  }

  .inner{
    width: 1180px;
    margin: 0 auto; 
    position: relative;

    .wrap{
      width: 100%;
      margin: 0 auto;

      &::after{ content: ""; display: block; clear: both;}
      article{
        width: 230px; height: 230px; float:left;

        .instaPic{
          width: 100%; height: 100%;
          background: $core;

          img{
            width: 100%;height: 100%;
          }
        }
      }
    }
  }
}

/*----- footer ------------------------------------------------------------ */
#footer{
  width: 100%;
  padding: 80px 0;
  background: $core;

  .inner{
    width: 1180px;
    margin: 0 auto;
    position: relative;

    &::after {content: ""; display: block; clear: both;}
    h1{
      float: left;
      font: 30px /1 'lora';
      color: $txt; 
    }
    .policy{
      float: right;

      li{
        float: left; margin-left: 20px;

        a{
          font: normal 14px/1 'lora';
          color: $txt; opacity: 0.7;
        }
      }
    }
    address{
      float: left;
      width: 100%;
      font: 14px/1.3 'lora';
      color: $txt; opacity: 0.7;
      margin: 20px 0;
      border-top: 1px solid $txt;
      padding-top: 20px;
    }
    p{
      float:left;
      width:100%; 
      font:12px/1 'lora'; 
      color: $txt; opacity: 0.7;
    }

    .sns{
      float: left;
      margin-top: 20px;
        li{
          float: left; margin-right: 10px;
          
          a{
            color: $txt; opacity: 0.7;
          }
        }
    }
  }
}